extends ../layout

block content
  h1= title
  form(action="/books/new" method="post")
    include ../errors/form-error
    include book-form
    p 
      input(type="submit" value="Create New Book")
    p 
      a(href="/").button Cancel 


