p 
  form(action="/books", method="post")
    label(for="search") Search books
    if (searchTerm)  
      input(type="text", name="search" value=`${searchTerm}`)
    else 
      input(type="text", name="search")
    input(type="submit" value="Search")