extends ../layout

block content
  h1 Page Not Found
  if (error.message)
    p= error.message
  else 
    p Sorry! We couldn't find the page you were looking for.
  p   
    a(href="/").button Back to Home 
