body {
  padding: 50px;
  font: 20px "serif";
}

a {
  color: rgb(20,151,116);
  font-weight: bold;
  text-decoration: none;
}

a.button, input[type=submit] {
  color: rgb(255,255,255);
  background-color: rgb(20,151,116);
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font: 16px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: red;
}

input[value=Search] {
  margin-left: 5px;
}

/* Books Table Styling */
table.books thead td {
  font-weight: bold;
  border-bottom: 2px solid rgb(218,179,148);
}

table.books tr:nth-child(even) {
  background-color: rgb(228,228,228);
}

table.books td {
  padding: 5px;
}

/* Books Form Styling */
label {
  font-weight: bold;
}

input[type=text] {
  font: 16px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}