extends ../layout

block content
  include search-title
  include search
  p Sorry, we couldn't find any books with that search term.
  p Please check your spelling and try again.
  p 
    a(href='/').button Back to Home
